@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.color {background-color: hsl(179, 62%, 43%);}
.color {background-color: hsl(71, 73%, 54%);}
.color {background-color: hsl(204, 43%, 93%);}
.color {background-color: hsl(218, 22%, 67%);}

/* UNIVERSAL */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Karla', sans-serif;
    }

    .attribution {
        font-size: 11px;
        text-align: center;
    }
    .attribution a {
        text-decoration: none;
        color: hsl(228, 45%, 44%);
    }

/* MEDIA QUERIES */

    @media screen and (min-width: 0px) {

        /* TAGS */
        /* CLASS */
        /* ID */

    }

    @media screen and (min-width: 401px) {

        /* TAGS */
        /* CLASS */
        /* ID */

    }